/* Website responsive Code: */
@media screen and (width<=380px) {
  .custom-shape-divider-bottom-1713265589 svg {
    height: 40px !important;
  }
  .custom-shape-divider-top-1713295617 svg {
    height: 40px !important;
  }
}
@media screen and (max-width: 576px) {
  .custom-shape-divider-bottom-1713265589 svg {
    height: 65px !important;
  }
  .custom-shape-divider-top-1713295617 svg {
    height: 65px !important;
  }
}
@media screen and (max-width: 768px) {
  .custom-shape-divider-bottom-1713265589 svg {
    height: 75px !important;
  }
  .custom-shape-divider-top-1713295617 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px !important;
  }
}
@media screen and (max-width: 1200px) {
  .landing-page-video {
    width: 20rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    order: 4;
  }

  .more-info-section {
    text-align: center;
  }
  .carousel-indicators {
    bottom: -100px;
  }
  .landing-page-section .container {
    height: fit-content;
  }
  .custom-shape-divider-bottom-1713265589 svg {
    height: 100px;
  }
}

@media screen and (max-width: 998px) {
  .navbar-toggler {
    border-color: var(--bs-main-color);
    & .navbar-toggler-icon {
      color: var(--bs-main-color);
      background-color: var(--bs-main-color);
    }
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2.1rem !important;
  }
  .common-heading {
    font-size: 2rem;
  }
  .para-width {
    width: auto;
  }
  .landing-page-section {
    height: 100vh;
  }

  footer .row .col-2 {
    width: 48%;
    margin-bottom: 3rem;
  }
  footer .row .col-4 {
    width: 85% !important;
    margin-bottom: 3rem;
  }
  .footer-copyright-section {
    flex-direction: column;
    font-size: 1rem !important;
  }

  .custom-shape-divider-bottom-1713265589 svg {
    height: 70px !important;
  }
  .custom-shape-divider-top-1713295617 svg {
    height: 70px !important;
  }
}

@media screen and (min-width: 1200px) {
  .landing-page-section .container {
    height: fit-content;
  }
  .custom-shape-divider-bottom-1713265589 svg {
    height: 130px;
  }
}
